<address class="flex items-center mb-6 not-italic">
    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
        <img class="mr-4 w-16 h-16 rounded-full" src="https://avatars.githubusercontent.com/u/74162376?v=4"
            alt="Jese Leos">
        <div>
            <a href="https://github.com/raulanto" _blank rel="author"
                class="text-xl font-bold text-gray-900 dark:text-white">raulanto</a>
            <p class="text-base text-gray-900 dark:text-white">Ing en Sistemas Computacionales</p>
            <p class="text-base text-gray-900 dark:text-white"><time pubdate datetime="2022-02-08"
                    title="February 8th, 2022">6 de Julio, 2025</time></p>
        </div>
    </div>
</address>